dotenv

export JAVA_HOME=${JAVA_HOME:-$(dirname $(dirname $(readlink -f $(which java))))}
export MAVEN_OPTS="-Xmx1024m"

# VPS Configuration (for CI/CD)
export VPS_HOST_INFRA=""
export VPS_HOST_CORE=""
export VPS_HOST_API=""
export VPS_USERNAME=""
export VPS_PASSWORD=""
export VPS_PORT="22"
